<section hlmCard class="dark my-5 w-4/5 mx-auto">
    <div hlmCardHeader class="dark">
        <h3 hlmCardTitle>Contract details</h3>
        <p hlmCardDescription>Details of the contract you are currently viewing</p>
    </div>
    <div hlmCardContent>
        <p><strong>Total Supply:</strong> <span hlmTextMonospace> Unknown</span></p>
        <p><strong>Contract address:</strong> <span hlmTextMonospace> Unknown</span></p>
        <p><strong>Contract owner: </strong> <span hlmTextMonospace> Unknown</span></p>
        <p><strong>Pause state:</strong> <span hlmTextMonospace> Unknown</span></p>
    </div>
</section>
